@import "utils/normalize";
@import "utils/colors";
@import "utils/fonts";
@import "utils/mixins";
@import "utils/cards";

body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
}

button {
  font-family: "Montserrat", Arial, sans-serif;
}

// navigation
.nav-ul {
  background-color: $super-dark-brown;
  height: 3.125rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  ul {
    @include normalize-list;
    display: flex;
    gap: 5rem;
  }

  li a {
    color: $white;
    text-decoration: none;
    font-size: 1.3rem;
  }

  strong {
    color: $white;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    @include normalize-list;
    padding: 0;
    margin: 0;
  }

  @include desktop {
    .desktop-nav {
      display: flex;
    }

    .mobile-nav {
      display: none;
    }
  }
}

.drawer {
  position: fixed;
  top: -20px;
  right: -850px;
  width: 250px;
  height: 100%;
  background-color: hsl(20, 60%, 90%);
  background-size: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1001;
  padding: 20px;
  list-style: none;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  ul {
    @include normalize-list;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
  }

  li a {
    color: $brown;
    text-decoration: none;
    font-weight: 600;
  }
}

.drawer.open {
  right: 0;
}

.drawer-top {
  width: 450px;
  height: 60px;
  position: absolute;
  left: 0;
}

.close-nav-button button {
  @include normalize-button;
  position: absolute;
  right: 0;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}
/* Mobile Nav Button */

.mobile-nav-button {
  background-color: transparent;
  border-style: hidden;
  color: $cream;
  cursor: pointer;

  svg {
    fill: $cream;
  }
}

.dev-name {
  font-family: "Comic Neue", Arial, sans-serif;
  font-size: 2rem;
}

// hero code
h1.name-main {
  font-family: "Dalla Respira", Arial, sans-serif;
  color: $dark-brown;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.5rem;
  text-align: center;

  @include mobile {
    font-size: 2rem;
  }
  @include tablet {
    font-size: 3rem;
  }
}

.button-form-contact {
  @include rounded-button($super-dark-brown, $white);
  margin-left: auto;
    margin-right: auto;

  @include mobile {
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }

  @include tablet {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-image {
  @include flex-container;
  background-color: $secondary-brown;
  gap: 0rem;

  @include mobile {
    gap: 0rem;
  }
}

.hero-decoration {
  width: 24rem;

  @include mobile {
    width: 12rem;
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider .line {
  flex-grow: 1;
  height: 1.8px;
  background-color: $dark-brown;
}

.divider .diamond {
  margin: 0 10px;
}

.geici-image {
  width: 35rem;
  height: 35rem;
  filter: drop-shadow(0.625rem 0 0.625rem rgb(15, 15, 15));
  margin-top: auto;

  @include x-small {
    width: 9rem;
    height: auto;
  }

  @include mobile {
    width: 10rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  @include tablet {
    width: 20rem;
    height: auto;
  }
}

.hero-text-container {
  strong {
    font-size: 1.2rem;
    color: $black;
    display: block;
    text-align: center;

    @include mobile {
      font-size: 0.8rem;
      text-align: left;
    }

    @include tablet {
      text-align: center;
    }
  }

  @include mobile {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}
// about me section
.test-image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
}

.hero-image-test {
  background-color: $cream-brown;
  @include flex-container;
  gap: 0rem;

  justify-content: center;

  img {
    width: 35rem;
    height: 35rem;
    padding: 0;
    margin: 1rem;
    margin-left: 5rem;
    border-radius: 0.3125rem;
    filter: drop-shadow(0.325rem 0 0.325rem $dark-brown);
    @include mobile {
      height: 22rem;
      width: 22rem;
      margin-left: auto;
      margin-right: auto;
    }
    @include tablet {
      height: 30rem;
      width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  p,
  ul {
    display: flex;
    width: 80%;
    flex-direction: column;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    @include normalize-list;
    color: $black;
    width: 80%;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
  }

  svg {
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  strong {
    color: $dark-brown;
  }

  .typewriter {
    font-size: 2rem; // 32px
  }

  .text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding: 0;
    margin: 0;

    @include mobile {
      width: 100%;
    }

    @include tablet{
      width: 80%;
    }
  }

  @include mobile {
    padding: 1rem;
    @include column-mobile;
    align-items: center;
  }

  @include tablet {
    flex-direction: column;
  }
}

// projects section



.projects-section {
  text-align: center;
  padding: 0px 20px 30px;
  background-color: $light-cream;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: $brown;
  }

  .projects-section p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: $brown;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-content: center;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

// footer

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  height: 330px;
  position: relative;
  background-color: $light-pink-footer;
  flex-direction: column;
  gap: 3rem;

  .corner-right-img {
    margin-left: auto;
    position: absolute;
    right: 5px;
    margin-top: auto;
    height: 330px;

    @include mobile {
      margin-top: 120px;
      height: 210px;
    }
  }

  ul {
    @include normalize-list;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    align-items: center;
  }

  svg {
    fill: $brown-wine;
    width: 34px;
    height: 34px;
  }

  strong {
    font-size: 2rem;
    color: $brown-wine;
  }
}
