@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin x-small {
  @media screen and (max-width: 380px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin normalize-list {
  list-style: none;
}

@mixin rounded-button($background-color, $color) {
  text-decoration: none;
  border-radius: 8rem;
  margin: 2rem 0;
  padding: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  color: $color;
}

@mixin card() {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  max-width: 390px;

  .card-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  p {
    font-size: 1em;
  }

  &:hover {
    transform: translateY(-10px);
  }
}

@mixin column-mobile {
  flex-direction: column;
  display: flex;
}

@mixin normalize-button {
  background-color: transparent;
  border-style: hidden;
}
